*{
    padding: 0;
    margin: 0;
}

body{
    background-color: #FFF2E4;
    text-align: center;
}

.content{
    width: 800px;
    margin: 0 auto;

}

.content>h1{
    color: #87968E; 
    margin: 26px auto 0;
}

.text{
    margin: 42px auto;
}

.text>p{
    font-size: 18px;
    color: #B7BBB0;
}

.nav{
    margin-bottom: 50px;
}

.nav>li{
    list-style: none;
    display: inline-block;
}

.nav>li>a{
    display: inline-block;
    text-decoration: none;
    font-size: 18px;
    background-color: #74B791;
    margin-right: 12px;
    padding: 4px 8px;
    color: #FFF;
    border-radius: 3px; 
}

.content a:hover{
    background-color: #ACCFB2;
}

.bottom>ul>li{
    list-style: none;
    display: inline-block;
}

.bottom>ul>li>a{
    display: inline-block;
    text-decoration: none;
    font-size: 18px;
    background-color: #74B791;
    margin-right: 12px;
    padding: 4px 8px;
    color: #FFF;
    border-radius: 3px;
}

.bottom{
    margin-top: 50px;
}

